@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: var(--grey-900);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--grey-800);
  width: clamp(300px, 85vw, 370px);
  height: auto;
  padding: clamp(20px, 7vw, 30px);
  border-radius: clamp(10px, 3vw, 15px);
  margin: clamp(15px, 5vw, 20px) 0;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info img {
  width: clamp(70px, 21vw, 90px);
  height: clamp(70px, 21vw, 90px);
  border-radius: 50%;
  margin-bottom: clamp(15px, 5vw, 20px);
}

.info h1 {
  font-size: clamp(24px, 7vw, 30px);
  font-weight: 600;
  margin-bottom: clamp(5px, 2vw, 10px);
}

.info h2 {
  font-size: clamp(12px, 3.5vw, 15px);
  color: var(--green);
  margin-bottom: clamp(20px, 7vw, 30px);
}

.info p {
  font-size: clamp(12px, 3.2vw, 14px);
  opacity: 0.9;
  margin-bottom: clamp(20px, 6vw, 25px);
}

.links {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links li {
  font-size: clamp(12px, 3.5vw, 15px);
  font-weight: 600;
  background: var(--grey-700);
  width: 95%;
  margin-bottom: clamp(10px, 3vw, 15px);
  padding: clamp(10px, 3vw, 12px);
  text-align: center;
  border-radius: clamp(5px, 2vw, 7px);
}

.links li a {
  color: var(--white);
  text-decoration: none;
  display: block;
  width: 100%;
}

.links li:hover {
  background: var(--green);
}

.links li:hover a {
  color: var(--grey-900);
}
